In [1]:
import pandas as pd
import sqlite3

In [2]:
# SQLite veritabanı bağlantısını oluşturun
conn = sqlite3.connect('superstore.db')

In [3]:
# Veri setini okuyun ve SQLite veritabanına aktarın
data = pd.read_csv('/kaggle/input/global-superstore-dataset/superstore.csv')
data.to_sql('superstore', conn, if_exists='replace', index=False)

51290

In [4]:
# SQL sorguları

#Tabloya göz atalım:
query = "SELECT * from superstore"
tables = pd.read_sql(query, conn)
tables

,Category,City,Country,Customer.ID,Customer.Name,Discount,Market,记录数,Order.Date,Order.ID,...,Sales,Segment,Ship.Date,Ship.Mode,Shipping.Cost,State,Sub.Category,Year,Market2,weeknum
0,Office Supplies,Los Angeles,United States,LS-172304,Lycoris Saunders,0.0,US,1,2011-01-07 00:00:00.000,CA-2011-130813,...,19,Consumer,2011-01-09 00:00:00.000,Second Class,4.37,California,Paper,2011,North America,2
1,Office Supplies,Los Angeles,United States,MV-174854,Mark Van Huff,0.0,US,1,2011-01-21 00:00:00.000,CA-2011-148614,...,19,Consumer,2011-01-26 00:00:00.000,Standard Class,0.94,California,Paper,2011,North America,4
2,Office Supplies,Los Angeles,United States,CS-121304,Chad Sievert,0.0,US,1,2011-08-05 00:00:00.000,CA-2011-118962,...,21,Consumer,2011-08-09 00:00:00.000,Standard Class,1.81,California,Paper,2011,North America,32
3,Office Supplies,Los Angeles,United States,CS-121304,Chad Sievert,0.0,US,1,2011-08-05 00:00:00.000,CA-2011-118962,...,111,Consumer,2011-08-09 00:00:00.000,Standard Class,4.59,California,Paper,2011,North America,32
4,Office Supplies,Los Angeles,United States,AP-109154,Arthur Prichep,0.0,US,1,2011-09-29 00:00:00.000,CA-2011-146969,...,6,Consumer,2011-10-03 00:00:00.000,Standard Class,1.32,California,Paper,2011,North America,40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,Office Supplies,Los Angeles,United States,AM-103604,Alice McCarthy,0.2,US,1,2014-12-03 00:00:00.000,CA-2014-109701,...,69,Corporate,2014-12-04 00:00:00.000,Same Day,5.15,California,Binders,2014,North America,49
51286,Office Supplies,Los Angeles,United States,AM-103604,Alice McCarthy,0.2,US,1,2014-12-03 00:00:00.000,CA-2014-109701,...,9,Corporate,2014-12-04 00:00:00.000,Same Day,0.44,California,Binders,2014,North America,49
51287,Office Supplies,Los Angeles,United States,HR-147704,Hallie Redmond,0.2,US,1,2014-12-18 00:00:00.000,CA-2014-106964,...,12,Home Office,2014-12-21 00:00:00.000,First Class,0.31,California,Binders,2014,North America,51
51288,Office Supplies,Los Angeles,United States,RM-196754,Robert Marley,0.2,US,1,2014-12-25 00:00:00.000,CA-2014-145219,...,90,Home Office,2014-12-26 00:00:00.000,First Class,15.95,California,Binders,2014,North America,52
51289,Office Supplies,Los Angeles,United States,FH-143654,Fred Hopkins,0.2,US,1,2014-12-26 00:00:00.000,CA-2014-121398,...,154,Corporate,2014-12-30 00:00:00.000,Standard Class,9.59,California,Binders,2014,North America,52

In [5]:
#Toplam Satış Mikatrı:
query1 = "SELECT Sum(Sales) as TotalSales from superstore"
tables1 = pd.read_sql(query1, conn)
tables1

   TotalSales
0    12642905

In [6]:
#Toplam Kar:
query2 = "SELECT Sum(Profit) as TotalProfit from superstore"
tables2 = pd.read_sql(query2, conn)
tables2

    TotalProfit
0  1.467457e+06

In [7]:
#En çok satılan ürün:
query3 = "SELECT `Product.Name`, MAX(Quantity) as MaxQuantity from superstore Group by `Product.Name` order by MaxQuantity DESC LIMIT 1;" 
tables3 = pd.read_sql(query3, conn)
tables3

  Product.Name  MaxQuantity
0   Xerox 1964           14

In [8]:
# Los Angeles Yapılan Satışlar:
query4 = "SELECT * from superstore where City = 'Los Angeles'" 
tables4 = pd.read_sql(query4, conn)
tables4

,Category,City,Country,Customer.ID,Customer.Name,Discount,Market,记录数,Order.Date,Order.ID,...,Sales,Segment,Ship.Date,Ship.Mode,Shipping.Cost,State,Sub.Category,Year,Market2,weeknum
0,Office Supplies,Los Angeles,United States,LS-172304,Lycoris Saunders,0.0,US,1,2011-01-07 00:00:00.000,CA-2011-130813,...,19,Consumer,2011-01-09 00:00:00.000,Second Class,4.37,California,Paper,2011,North America,2
1,Office Supplies,Los Angeles,United States,MV-174854,Mark Van Huff,0.0,US,1,2011-01-21 00:00:00.000,CA-2011-148614,...,19,Consumer,2011-01-26 00:00:00.000,Standard Class,0.94,California,Paper,2011,North America,4
2,Office Supplies,Los Angeles,United States,CS-121304,Chad Sievert,0.0,US,1,2011-08-05 00:00:00.000,CA-2011-118962,...,21,Consumer,2011-08-09 00:00:00.000,Standard Class,1.81,California,Paper,2011,North America,32
3,Office Supplies,Los Angeles,United States,CS-121304,Chad Sievert,0.0,US,1,2011-08-05 00:00:00.000,CA-2011-118962,...,111,Consumer,2011-08-09 00:00:00.000,Standard Class,4.59,California,Paper,2011,North America,32
4,Office Supplies,Los Angeles,United States,AP-109154,Arthur Prichep,0.0,US,1,2011-09-29 00:00:00.000,CA-2011-146969,...,6,Consumer,2011-10-03 00:00:00.000,Standard Class,1.32,California,Paper,2011,North America,40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
742,Office Supplies,Los Angeles,United States,AM-103604,Alice McCarthy,0.2,US,1,2014-12-03 00:00:00.000,CA-2014-109701,...,69,Corporate,2014-12-04 00:00:00.000,Same Day,5.15,California,Binders,2014,North America,49
743,Office Supplies,Los Angeles,United States,AM-103604,Alice McCarthy,0.2,US,1,2014-12-03 00:00:00.000,CA-2014-109701,...,9,Corporate,2014-12-04 00:00:00.000,Same Day,0.44,California,Binders,2014,North America,49
744,Office Supplies,Los Angeles,United States,HR-147704,Hallie Redmond,0.2,US,1,2014-12-18 00:00:00.000,CA-2014-106964,...,12,Home Office,2014-12-21 00:00:00.000,First Class,0.31,California,Binders,2014,North America,51
745,Office Supplies,Los Angeles,United States,RM-196754,Robert Marley,0.2,US,1,2014-12-25 00:00:00.000,CA-2014-145219,...,90,Home Office,2014-12-26 00:00:00.000,First Class,15.95,California,Binders,2014,North America,52
746,Office Supplies,Los Angeles,United States,FH-143654,Fred Hopkins,0.2,US,1,2014-12-26 00:00:00.000,CA-2014-121398,...,154,Corporate,2014-12-30 00:00:00.000,Standard Class,9.59,California,Binders,2014,North America,52

In [9]:
# Belirli Bir Kategoriye Ait Ürünler:
query5 = "SELECT * from superstore where Category = 'Technology'" 
tables5 = pd.read_sql(query5, conn)
tables5

,Category,City,Country,Customer.ID,Customer.Name,Discount,Market,记录数,Order.Date,Order.ID,...,Sales,Segment,Ship.Date,Ship.Mode,Shipping.Cost,State,Sub.Category,Year,Market2,weeknum
0,Technology,Vinnytsya,Ukraine,RD-99002,Ruben Dartt,0.0,EMEA,1,2011-03-01 00:00:00.000,UP-2011-3730,...,1471,Consumer,2011-03-05 00:00:00.000,Standard Class,146.550,Vinnytsya,Accessories,2011,EMEA,10
1,Technology,Marseille,France,JW-160752,Julia West,0.0,EU,1,2011-04-11 00:00:00.000,ES-2011-3376060,...,294,Consumer,2011-04-16 00:00:00.000,Standard Class,14.910,Provence-Alpes-Côte d'Azur,Accessories,2011,EU,16
2,Technology,São Paulo,Brazil,CR-126253,Corey Roper,0.0,LATAM,1,2011-05-24 00:00:00.000,MX-2011-148033,...,201,Home Office,2011-05-28 00:00:00.000,Standard Class,14.911,São Paulo,Accessories,2011,LATAM,22
3,Technology,Naples,Italy,JC-161052,Julie Creighton,0.0,EU,1,2011-05-25 00:00:00.000,IT-2011-1780558,...,698,Corporate,2011-05-29 00:00:00.000,Standard Class,42.030,Campania,Accessories,2011,EU,22
4,Technology,Ludhiana,India,AG-104951,Andrew Gjertsen,0.0,APAC,1,2011-05-26 00:00:00.000,IN-2011-74994,...,185,Corporate,2011-05-31 00:00:00.000,Standard Class,13.480,Punjab,Accessories,2011,APAC,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10136,Technology,Los Angeles,United States,MG-181454,Mike Gockenbach,0.2,US,1,2014-10-08 00:00:00.000,CA-2014-108574,...,80,Consumer,2014-10-12 00:00:00.000,Standard Class,4.780,California,Phones,2014,North America,41
10137,Technology,Los Angeles,United States,JM-156554,Jim Mitchum,0.2,US,1,2014-10-28 00:00:00.000,CA-2014-151225,...,72,Corporate,2014-10-30 00:00:00.000,First Class,16.160,California,Phones,2014,North America,44
10138,Technology,Los Angeles,United States,DO-136454,Doug O'Connell,0.2,US,1,2014-11-28 00:00:00.000,CA-2014-133207,...,58,Consumer,2014-12-04 00:00:00.000,Standard Class,0.920,California,Phones,2014,North America,48
10139,Technology,Los Angeles,United States,FP-143204,Frank Preis,0.2,US,1,2014-12-08 00:00:00.000,CA-2014-137099,...,374,Consumer,2014-12-11 00:00:00.000,First Class,26.190,California,Phones,2014,North America,50
10140,Technology,Los Angeles,United States,JG-151604,James Galang,0.2,US,1,2014-12-30 00:00:00.000,CA-2014-118885,...,302,Consumer,2015-01-03 00:00:00.000,Standard Class,26.690,California,Phones,2014,North America,53

In [10]:
# Bir Yıl İçindeki En Yüksek Karlı Ürün:
query6 = "SELECT `Product.Name`, Max(Profit) as MaxProfit from superstore where year = '2014' Group by `Product.Name` order by MaxProfit desc LIMIT 1;" 
tables6 = pd.read_sql(query6, conn)
tables6

                            Product.Name  MaxProfit
0  Canon imageCLASS 2200 Advanced Copier  6719.9808

In [11]:
# Bir Yıl İçindeki En Yüksek 10 Karlı Ürün:
query7 = "SELECT `Product.Name`, Max(Profit) as MaxProfit from superstore where year = '2014' Group by `Product.Name` order by MaxProfit desc LIMIT 10;" 
tables7 = pd.read_sql(query7, conn)
tables7

                                        Product.Name  MaxProfit
0              Canon imageCLASS 2200 Advanced Copier  6719.9808
1                                  Hoover Stove, Red  3979.0800
2                          Canon Wireless Fax, Laser  2597.2800
3          GBC DocuBind P400 Electric Binding System  2504.2216
4                     Sauder Classic Bookcase, Metal  2316.5100
5               Sauder Classic Bookcase, Traditional  2097.0300
6  Fellowes PB500 Electric Punch Plastic Comb Bin...  1906.4850
7                               Cuisinart Stove, Red  1722.4800
8                         Brother Fax Machine, Laser  1697.6700
9  Hewlett-Packard Desktjet 6988DT Refurbished Pr...  1668.2050

In [12]:
# Toplam Harcamaları En Yüksek Olan Müşteri:
query8 = "SELECT `Customer.ID`,`Customer.Name`, sum(sales) as TotalSpent from superstore group by `Customer.ID`,`Customer.Name` order by TotalSpent DESC LIMIT 1;" 
tables8 = pd.read_sql(query8, conn)
tables8

  Customer.ID Customer.Name  TotalSpent
0   SM-203204   Sean Miller       25042

In [13]:
# En Çok Satın Alma Yapan 10 Müşteri
query9 = "Select `Customer.ID`, `Customer.Name`, Count(`Order.ID`) as TotalOrders from superstore group by `Customer.ID`, `Customer.Name` order by TotalOrders DESC LIMIT 10;" 
tables9 = pd.read_sql(query9, conn)
tables9

  Customer.ID    Customer.Name  TotalOrders
0   JG-158051       John Grady           40
1   BC-111252    Becky Castell           37
2   WB-218504    William Brown           37
3   AF-108701     Art Ferguson           36
4   BW-111101     Bart Watters           35
5   CS-121751  Charles Sheldon           35
6   JG-158052       John Grady           35
7   NH-186101    Nicole Hansen           35
8   BE-113351      Bill Eplett           34
9   BM-117851      Bryan Mills           34

In [14]:
# Toplam harcaması en yüksek olan Sean Miller'in tüm alımlarına bakalım
query10 = "Select * from superstore where `Customer.Name` = 'Sean Miller'" 
tables10 = pd.read_sql(query10, conn)
tables10

,Category,City,Country,Customer.ID,Customer.Name,Discount,Market,记录数,Order.Date,Order.ID,...,Sales,Segment,Ship.Date,Ship.Mode,Shipping.Cost,State,Sub.Category,Year,Market2,weeknum
0,Office Supplies,Los Angeles,United States,SM-203204,Sean Miller,0.000,US,1,2012-12-25 00:00:00.000,CA-2012-144890,...,10,Home Office,2012-12-29 00:00:00.000,Standard Class,0.2200,California,Paper,2012,North America,52
1,Office Supplies,Cologne,Germany,SM-203202,Sean Miller,0.000,EU,1,2014-11-07 00:00:00.000,ES-2014-4039189,...,185,Home Office,2014-11-11 00:00:00.000,Second Class,15.5800,North Rhine-Westphalia,Envelopes,2014,EU,45
2,Office Supplies,Koumra,Chad,SM-103201,Sean Miller,0.000,Africa,1,2013-02-14 00:00:00.000,CD-2013-4900,...,1289,Home Office,2013-02-16 00:00:00.000,Second Class,296.0800,Mandoul,Storage,2013,Africa,7
3,Office Supplies,Rehovot,Israel,SM-103202,Sean Miller,0.000,EMEA,1,2014-07-28 00:00:00.000,IS-2014-1420,...,14,Home Office,2014-07-29 00:00:00.000,Same Day,1.3400,Central,Binders,2014,EMEA,31
4,Office Supplies,Koumra,Chad,SM-103201,Sean Miller,0.000,Africa,1,2013-02-14 00:00:00.000,CD-2013-4900,...,28,Home Office,2013-02-16 00:00:00.000,Second Class,1.8600,Mandoul,Binders,2013,Africa,7
5,Office Supplies,Charleroi,Belgium,SM-203202,Sean Miller,0.000,EU,1,2013-04-08 00:00:00.000,ES-2013-5788188,...,104,Home Office,2013-04-10 00:00:00.000,Second Class,10.3200,Hainaut,Binders,2013,EU,15
6,Office Supplies,Charleroi,Belgium,SM-203202,Sean Miller,0.000,EU,1,2013-04-08 00:00:00.000,ES-2013-5788188,...,57,Home Office,2013-04-10 00:00:00.000,Second Class,5.9100,Hainaut,Supplies,2013,EU,15
7,Office Supplies,Zapopan,Mexico,SM-203203,Sean Miller,0.000,LATAM,1,2013-07-16 00:00:00.000,MX-2013-108819,...,25,Home Office,2013-07-21 00:00:00.000,Second Class,5.3590,Jalisco,Envelopes,2013,LATAM,29
8,Office Supplies,Gagnoa,Cote d'Ivoire,SM-103201,Sean Miller,0.000,Africa,1,2011-09-27 00:00:00.000,IV-2011-1910,...,29,Home Office,2011-10-03 00:00:00.000,Standard Class,2.8300,Fromager,Art,2011,Africa,40
9,Office Supplies,Gagnoa,Cote d'Ivoire,SM-103201,Sean Miller,0.000,Africa,1,2011-09-27 00:00:00.000,IV-2011-1910,...,48,Home Office,2011-10-03 00:00:00.000,Standard Class,3.1000,Fromager,Art,2011,Africa,40
10,Office Supplies,Masaya,Nicaragua,SM-203203,Sean Miller,0.000,LATAM,1,2013-06-12 00:00:00.000,MX-2013-126214,...,23,Home Office,2013-06-19 00:00:00.000,Standard Class,3.0970,Masaya,Labels,2013,LATAM,24
11,Office Supplies,Guaratinguetá,Brazil,SM-203203,Sean Miller,0.000,LATAM,1,2012-10-12 00:00:00.000,MX-2012-132962,...,69,Home Office,2012-10-17 00:00:00.000,Standard Class,8.9860,São Paulo,Envelopes,2012,LATAM,41
12,Office Supplies,Guaratinguetá,Brazil,SM-203203,Sean Miller,0.000,LATAM,1,2012-10-12 00:00:00.000,MX-2012-132962,...,9,Home Office,2012-10-17 00:00:00.000,Standard Class,0.6960,São Paulo,Labels,2012,LATAM,41
13,Office Supplies,Fresnes,France,SM-203202,Sean Miller,0.000,EU,1,2014-08-06 00:00:00.000,ES-2014-1051601,...,176,Home Office,2014-08-12 00:00:00.000,Standard Class,10.7400,Ile-de-France,Paper,2014,EU,32
14,Office Supplies,Versailles,France,SM-203202,Sean Miller,0.000,EU,1,2014-10-16 00:00:00.000,ES-2014-2441398,...,44,Home Office,2014-10-20 00:00:00.000,Standard Class,2.1400,Ile-de-France,Binders,2014,EU,42
15,Technology,Gravesend,United Kingdom,SM-203202,Sean Miller,0.000,EU,1,2014-07-05 00:00:00.000,ES-2014-3777226,...,1937,Home Office,2014-07-09 00:00:00.000,Standard Class,147.3300,England,Phones,2014,EU,27
16,Furniture,Guaratinguetá,Brazil,SM-203203,Sean Miller,0.000,LATAM,1,2012-10-12 00:00:00.000,MX-2012-132962,...,32,Home Office,2012-10-17 00:00:00.000,Standard Class,2.4170,São Paulo,Furnishings,2012,LATAM,41
17,Technology,Gagnoa,Cote d'Ivoire,SM-103201,Sean Miller,0.000,Africa,1,2011-09-27 00:00:00.000,IV-2011-1910,...,1254,Home Office,2011-10-03 00:00:00.000,Standard Class,234.1100,Fromager,Machines,2011,Africa,40
18,Furniture,Masaya,Nicaragua,SM-203203,Sean Miller,0.000,LATAM,1,2013-06-12 00:00:00.000,MX-2013-126214,...,132,Home Office,2013-06-19 00:00:00.000,Standard Class,12.5190,Masaya,Chairs,2013,LATAM,24
19,Furniture,Hyderabad,India,SM-203201,Sean Miller,0.000,APAC,1,2014-12-04 00:00:00.000,IN-2014-21990,...,58,Home Office,2014-12-06 00:00:00.000,First Class,20.1700,Telangana,Chairs,2014,APAC,49
20,Technology,Fes,Morocco,SM-103201,Sean Miller,0.000,Africa,1,2011-11-25 00:00:00.000,MO-2011-590,...,1285,Home Office,2011-11-25 00:00:00.000,Same Day,124.2300,Fès-Boulemane,Copiers,2011,Africa,48
21,Furniture,Lafayette,United States,SM-203204,Sean Miller,0.000,US,1,2014-07-10 00:00:00.000,CA-2014-145128,...,526,Home Office,2014-07-15 00:00:00.000,Standard Class,24.9200,Indiana,Furnishings,2014,North America,28
22,Office Supplies,Calabar,Nigeria,SM-103201,Sean Miller,0.700,Africa,1,2014-10-16 00:00:00.000,NI-2014-820,...,60,Home Office,2014-10-21 00:00:00.000,Second Class,0.1600,Cross River,Envelopes,2014,Africa,42
23,Office Supplies,San Juan de la Maguana,Dominican Republic,SM-203203,Sean Miller,0.200,LATAM,1,2011-11-22 00:00:00.000,MX-2011-125045,...,1124,Home Office,2011-11-25 00:00:00.000,First Class,286.4630,San Juan,Appliances,2011,LATAM,48
24,Office Supplies,Lahore,Pakistan,SM-203201,Sean Miller,0.500,APAC,1,2014-12-10 00:00:00.000,ID-2014-66818,...,128,Home Office,2014-12-12 00:00:00.000,Second Class,14.5900,Punjab,Storage,2014,APAC,50
25,Office Supplies,Cologne,Germany,SM-203202,Sean Miller,0.100,EU,1,2014-11-07 00:00:00.000,ES-2014-4039189,...,349,Home Office,2014-11-11 00:00:00.000,Second Class,38.8000,North Rhine-Westphalia,Storage,2014,EU,45
26,Office Supplies,Mamak,Turkey,SM-103202,Sean Miller,0.600,EMEA,1,2011-06-28 00:00:00.000,TU-2011-9570,...,21,Home Office,2011-07-04 00:00:00.000,Standard Class,1.9700,Ankara,Art,2011,EMEA,27
27,Office Supplies,Mamak,Turkey,SM-103202,Sean Miller,0.600,EMEA,1,2011-06-28 00:00:00.000,TU-2011-9570,...,9,Home Office,2011-07-04 00:00:00.000,Standard Class,1.0200,Ankara,Supplies,2011,EMEA,27
28,Furniture,Jakarta,Indonesia,SM-203201,Sean Miller,0.070,APAC,1,2014-10-19 00:00:00.000,ID-2014-54589,...,768,Home Office,2014-10-26 00:00:00.000,Standard Class,98.0600,Jakarta,Bookcases,2014,APAC,43
29,Office Supplies,Jakarta,Indonesia,SM-203201,Sean Miller,0.470,APAC,1,2014-10-19 00:00:00.000,ID-2014-54589,...,9,Home Office,2014-10-26 00:00:00.000,Standard Class,0.6200,Jakarta,Labels,2014,APAC,43
30,Office Supplies,Bangkok,Thailand,SM-203201,Sean Miller,0.470,APAC,1,2011-06-08 00:00:00.000,ID-2011-74574,...,39,Home Office,2011-06-12 00:00:00.000,Standard Class,0.8400,Bangkok,Art,2011,APAC,24
31,Office Supplies,Velbert,Germany,SM-203202,Sean Miller,0.100,EU,1,2013-06-14 00:00:00.000,IT-2013-3154646,...,362,Home Office,2013-06-21 00:00:00.000,Standard Class,24.4300,North Rhine-Westphalia,Storage,2013,EU,24
32,Office Supplies,Stockholm,Sweden,SM-203202,Sean Miller,0.500,EU,1,2014-07-14 00:00:00.000,IT-2014-1555885,...,33,Home Office,2014-07-21 00:00:00.000,Standard Class,2.6900,Stockholm,Storage,2014,EU,29
33,Office Supplies,San Pedro de Macorís,Dominican Republic,SM-203203,Sean Miller,0.200,LATAM,1,2013-06-20 00:00:00.000,US-2013-153220,...,229,Home Office,2013-06-24 00:00:00.000,Standard Class,9.2860,San Pedro de Macorís,Art,2013,LATAM,25
34,Office Supplies,Stockholm,Sweden,SM-203202,Sean Miller,0.500,EU,1,2014-07-14 00:00:00.000,IT-2014-1555885,...,32,Home Office,2014-07-21 00:00:00.000,Standard Class,1.9500,Stockholm,Art,2014,EU,29
35,Furniture,Salihli,Turkey,SM-103202,Sean Miller,0.600,EMEA,1,2013-02-15 00:00:00.000,TU-2013-9790,...,9,Home Office,2013-02-19 00:00:00.000,Standard Class,0.3000,Manisa,Furnishings,2013,EMEA,7
36,Technology,San Pedro de Macorís,Dominican Republic,SM-203203,Sean Miller,0.202,LATAM,1,2013-06-20 00:00:00.000,US-2013-153220,...,158,Home Office,2013-06-24 00:00:00.000,Standard Class,7.4440,San Pedro de Macorís,Copiers,2013,LATAM,25
37,Office Supplies,Allentown,United States,SM-203204,Sean Miller,0.700,US,1,2012-08-21 00:00:00.000,US-2012-130512,...,100,Home Office,2012-08-25 00:00:00.000,Standard Class,10.9500,Pennsylvania,Binders,2012,North America,34
38,Technology,Jacksonville,United States,SM-203204,Sean Miller,0.500,US,1,2011-03-18 00:00:00.000,CA-2011-145317,...,22638,Home Office,2011-03-23 00:00:00.000,Standard Class,24.2865,Florida,Machines,2011,North America,12
39,Technology,Jacksonville,United States,SM-203204,Sean Miller,0.500,US,1,2011-03-18 00:00:00.000,CA-2011-145317,...,821,Home Office,2011-03-23 00:00:00.000,Standard Class,49.1500,Florida,Machines,2011,North America,12
40,Office Supplies,Allentown,United States,SM-203204,Sean Miller,0.200,US,1,2012-08-21 00:00:00.000,US-2012-130512,...,50,Home Office,2012-08-25 00:00:00.000,Standard Class,6.3200,Pennsylvania,Paper,2012,North America,34
41,Office Supplies,Allentown,United States,SM-203204,Sean Miller,0.200,US,1,2012-08-21 00:00:00.000,US-2012-130512,...,663,Home Office,2012-08-25 00:00:00.000,Standard Class,81.6000,Pennsylvania,Storage,2012,North America,34
42,Office Supplies,Allentown,United States,SM-203204,Sean Miller,0.200,US,1,2012-08-21 00:00:00.000,US-2012-130512,...,3,Home Office,2012-08-25 00:00:00.000,Standard Class,0.4000,Pennsylvania,Supplies,2012,North America,34
43,Technology,Allentown,United States,SM-203204,Sean Miller,0.200,US,1,2012-08-21 00:00:00.000,US-2012-130512,...,22,Home Office,2012-08-25 00:00:00.000,Standard Class,1.5100,Pennsylvania,Accessories,2012,North America,34
44,Office Supplies,Monroe,United States,SM-203204,Sean Miller,0.200,US,1,2014-10-13 00:00:00.000,CA-2014-149146,...,8,Home Office,2014-10-13 00:00:00.000,Same Day,0.7600,North Carolina,Paper,2014,North America,42
45,Furniture,Jacksonville,United States,SM-203204,Sean Miller,0.200,US,1,2011-03-18 00:00:00.000,CA-2011-145317,...,122,Home Office,2011-03-23 00:00:00.000,Standard Class,8.1000,Florida,Furnishings,2011,North America,12
46,Furniture,Jacksonville,United States,SM-203204,Sean Miller,0.200,US,1,2011-03-18 00:00:00.000,CA-2011-145317,...,31,Home Office,2011-03-23 00:00:00.000,Standard Class,2.3700,Florida,Furnishings,2011,North America,12
47,Office Supplies,Jacksonville,United States,SM-203204,Sean Miller,0.200,US,1,2011-03-18 00:00:00.000,CA-2011-145317,...,8,Home Office,2011-03-23 00:00:00.000,Standard Class,0.2200,Florida,Art,2011,North America,12
48,Office Supplies,Jacksonville,United States,SM-203204,Sean Miller,0.200,US,1,2011-03-18 00:00:00.000,CA-2011-145317,...,19,Home Office,2011-03-23 00:00:00.000,Standard Class,1.8000,Florida,Fasteners,2011,North America,12
49,Office Supplies,Jacksonville,United States,SM-203204,Sean Miller,0.200,US,1,2011-03-18 00:00:00.000,CA-2011-145317,...,21,Home Office,2011-03-23 00:00:00.000,Standard Class,1.3300,Florida,Paper,2011,North America,12

In [15]:
# En fazla sipariş veren müşteri
query11 = "Select `Customer.ID`, `Customer.Name`, Count(DISTINCT `Order.ID`) as TotalOrders from superstore group by `Customer.ID`, `Customer.Name` order by TotalOrders DESC LIMIT 10;" 
tables11 = pd.read_sql(query11, conn)
tables11

  Customer.ID    Customer.Name  TotalOrders
0   DK-130901        Dave Kipp           18
1   CS-121751  Charles Sheldon           17
2   EP-139154       Emily Phan           17
3   EM-139601     Eric Murdock           16
4   AR-108252   Anthony Rawles           15
5   JG-158052       John Grady           15
6   JH-159853      Joseph Holt           15
7   NC-186251      Noah Childs           15
8   TZ-214453     Tom Zandusky           15
9   AF-108701     Art Ferguson           14

In [16]:
# En Yüksek Tek Seferlik Harcama Yapan Müşteri:
query12 = "Select `Customer.ID`, `Customer.Name`, max(Sales) as MaxSinglePurchase from superstore group by `Customer.ID`, `Customer.Name` order by MaxSinglePurchase DESC LIMIT 1;" 
tables12 = pd.read_sql(query12, conn)
tables12

  Customer.ID Customer.Name  MaxSinglePurchase
0   SM-203204   Sean Miller              22638

In [17]:
# Ortalama Harcamaları Sıralama
query13 = "Select `Customer.ID`, `Customer.Name`, AVG(sales) as AverageSpent from superstore group by `Customer.ID`, `Customer.Name` order by AverageSpent DESC" 
tables13 = pd.read_sql(query13, conn)
tables13

     Customer.ID        Customer.Name  AverageSpent
0       NW-84001       Natalie Webber   5100.000000
1       RH-94951          Rick Hansen   2833.000000
2      MW-182354     Mitch Willingham   1751.333333
3      PJ-188352        Patrick Jones   1701.800000
4      EP-139153           Emily Phan   1686.000000
...          ...                  ...           ...
4868    LP-70951            Liz Preis      4.000000
4869    BS-17552        Bruce Stewart      3.000000
4870    CK-22051  Chloris Kastensmidt      3.000000
4871   TS-210854        Thais Sissman      2.500000
4872     AH-1202          Adrian Hane      2.000000

[4873 rows x 3 columns]

In [18]:
# Toplam Satışlara Göre Ürünlerin Sıralanması
query14 = "Select `Product.ID`, `Product.Name`, SUM(quantity) as TotalSales from superstore group by `Product.ID`, `Product.Name` order by TotalSales DESC" 
tables14 = pd.read_sql(query14, conn)
tables14

             Product.ID                          Product.Name  TotalSales
0       OFF-AR-10000110       Binney & Smith Sketch Pad, Blue          97
1       OFF-AR-10003651  Sanford Pencil Sharpener, Easy-Erase          93
2       OFF-ST-10004377        Rogers File Cart, Single Width          89
3       OFF-AR-10004519            Boston Canvas, Fluorescent          86
4       OFF-AR-10003066          Sanford Markers, Water Color          84
...                 ...                                   ...         ...
10763   TEC-PH-10002916   Apple Speaker Phone, with Caller ID           1
10764  TEC-SAN-10004999     SanDisk Flash Drive, Programmable           1
10765  TEC-SHA-10001976                 Sharp Ink, High-Speed           1
10766  TEC-SHA-10004658                      Sharp Ink, Laser           1
10767  TEC-STA-10003065     StarTech Receipt Printer, Durable           1

[10768 rows x 3 columns]

In [19]:
#En Yüksek Kar Marjına Sahip Ürünlerin Listesi:
query15 = "Select `Product.ID`, `Product.Name`, avg(profit) as AverageProfit from superstore group by `Product.ID`, `Product.Name` order by AverageProfit DESC" 
tables15 = pd.read_sql(query15, conn)
tables15

,Product.ID,Product.Name,AverageProfit
0,TEC-CO-10004722,Canon imageCLASS 2200 Advanced Copier,5039.985600
1,TEC-MA-10002927,Canon imageCLASS MF7460 Monochrome Digital Las...,1995.990000
2,TEC-MA-10003979,Ativa V4110MDD Micro-Cut Shredder,1886.473050
3,TEC-MA-10001047,"3D Systems Cube Printer, 2nd Generation, Magenta",1858.985700
4,TEC-MA-10000045,Zebra ZM400 Thermal Label Printer,1671.768000
...,...,...,...
10763,TEC-PH-10000808,"Samsung Smart Phone, Cordless",-1806.240000
10764,TEC-MA-10002412,Cisco TelePresence System EX90 Videoconferenci...,-1811.078400
10765,FUR-TA-10003963,"Bevis Conference Table, Fully Assembled",-1924.542000
10766,TEC-MA-10000418,Cubify CubeX 3D Printer Double Head Print,-2959.990133
10767,TEC-MA-10004125,Cubify CubeX 3D Printer Triple Head Print,-3839.990400

In [20]:
# Belirli Bir Kategorideki En Pahalı Ürün
query16 = "Select `Product.ID`, `Product.Name`, MAX(sales) as HighestPrice from superstore where category = 'Technology' group by `Product.ID`, `Product.Name`" 
tables16 = pd.read_sql(query16, conn)
tables16

            Product.ID                            Product.Name  HighestPrice
0      TEC-AC-10000007                     SanDisk Router, USB          1026
1      TEC-AC-10000023  Maxell 74 Minute CD-R Spindle, 50/Pack           273
2      TEC-AC-10000025          SanDisk Memory Card, Bluetooth           135
3      TEC-AC-10000051               Logitech Memory Card, USB           207
4      TEC-AC-10000053                     SanDisk Router, USB          1283
...                ...                                     ...           ...
2478  TEC-STA-10004181                StarTech Inkjet, Durable          1201
2479  TEC-STA-10004536               StarTech Inkjet, Wireless           604
2480  TEC-STA-10004542            StarTech Calculator, Durable           561
2481  TEC-STA-10004834           StarTech Receipt Printer, Red           172
2482  TEC-STA-10004927      StarTech Receipt Printer, Wireless           221

[2483 rows x 3 columns]

In [21]:
# En maliyetli 10 ürün
query17 = "Select `Product.ID`, `Product.Name`, MAX(`Shipping.Cost`) as HighestCost from superstore group by `Product.ID`, `Product.Name` order by HighestCost DESC LIMIT 10;" 
tables17 = pd.read_sql(query17, conn)
tables17

,Product.ID,Product.Name,HighestCost
0,TEC-AC-10003033,Plantronics CS510 - Over-the-Head monaural Wir...,933.57
1,FUR-CH-10003950,"Novimex Executive Leather Armchair, Black",923.63
2,TEC-PH-10004664,"Nokia Smart Phone, with Caller ID",915.49
3,TEC-PH-10004583,"Motorola Smart Phone, Cordless",910.16
4,TEC-SHA-10000501,"Sharp Wireless Fax, High-Speed",903.04
5,TEC-PH-10000030,"Samsung Smart Phone, with Caller ID",897.35
6,FUR-CH-10004050,"Novimex Executive Leather Armchair, Adjustable",894.77
7,FUR-TA-10002958,"Chromcraft Conference Table, Fully Assembled",878.38
8,OFF-BI-10003527,Fellowes PB500 Electric Punch Plastic Comb Bin...,867.69
9,FUR-TA-10000198,Chromcraft Bull-Nose Wood Oval Conference Tabl...,865.74

In [22]:
# Bölgelere Göre Toplam Satışlar
query18 = "Select `Region` , sum(quantity) as TotalSales from superstore group by `Region` order by TotalSales DESC;" 
tables18 = pd.read_sql(query18, conn)
tables18

            Region  TotalSales
0          Central       41762
1            South       25206
2            North       18021
3          Oceania       12838
4             West       12266
5   Southeast Asia       11822
6             EMEA       11517
7             East       10618
8           Africa       10564
9       North Asia        8851
10    Central Asia        7715
11       Caribbean        6299
12          Canada         833

In [23]:
# Ülkelere Göre En Çok Sipariş Veren Müşteriler
query19 = "Select country, `Customer.Name`, Count(`Order.ID`) as OrderCount from superstore group by country, `Customer.Name` order by OrderCount DESC;" 
tables19 = pd.read_sql(query19, conn)
tables19

             Country        Customer.Name  OrderCount
0      United States        William Brown          37
1      United States             John Lee          34
2      United States         Matt Abelman          34
3      United States           Paul Prost          34
4      United States  Chloris Kastensmidt          32
...              ...                  ...         ...
15695       Zimbabwe          Neil Ducich           1
15696       Zimbabwe        Odella Nelson           1
15697       Zimbabwe       Paul MacIntyre           1
15698       Zimbabwe          Rob Beeghly           1
15699       Zimbabwe     Saphhira Shifley           1

[15700 rows x 3 columns]

In [24]:
# Şehirlere Göre Kar Marjı
query20 = "Select city, AVG(profit) as AverageProfit from superstore group by city order by AverageProfit DESC;" 
tables20 = pd.read_sql(query20, conn)
tables20

                City  AverageProfit
0          Whakatane      1234.4400
1            Xingtai      1068.8400
2             Kamina      1068.6600
3              Salto       988.1200
4           Poitiers       953.2740
...              ...            ...
3631      San Severo      -447.1800
3632         Bornova      -523.2935
3633      Hardenberg      -538.6485
3634  Bergen op Zoom      -554.4090
3635             Ibb      -590.9760

[3636 rows x 2 columns]

In [25]:
# Belirli Bir Bölgedeki Toplam Satışlar ve Karlılık
query21 = "Select `Region`, SUM(quantity) as TotalSales, AVG(Profit) as AverageProfit from superstore where `Region` = 'East' group by `Region`" 
tables21 = pd.read_sql(query21, conn)
tables21

  Region  TotalSales  AverageProfit
0   East       10618      32.135808